/* Couleurs de la charte */
/*
    #4F46E5
    #F97316
    #F9FAFB
    #374151
*/

:root {
    --bg-dark: #1F2937;         /* Gray 800 */
    --text-light: #F3F4F6;      /* Gray 50 */
    --text-gray: #9CA3AF;       /* Gray 400 */
    --border-gray: #374151;     /* Gray 700 */
    --primary-indigo: #4F46E5;  /* Indigo 700 */
    --secondary-violet: #9333EA;/* Violet 600 */
    --accent-orange: #F97316;   /* Orange 500 */
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #F9FAFB;
    color: #374151;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Le header et le footer prennent leur hauteur naturelle */
header, footer {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

/* Navbar styles */
.navbar {
    background-color: #4F46E5;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #FFFFFF !important;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-nav .nav-link:hover {
    color: #F97316 !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.2);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255%2C255%2C255%2C0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.mainTitle {
    font-family: 'Poppins', sans-serif;
}

#navbarCollapse {
    justify-content: center;
}

.loginBtn {
    background-color: #F97316;
    color: #FFFFFF;
}

.loginBtn:hover {
    background-color: black;
    color: #FFFFFF;
}
